    /*
    Flaticon icon font: Flaticon
    Creation date: 15/06/2019 06:13
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bar-chart:before { content: "\f100"; }
.flaticon-process:before { content: "\f101"; }
.flaticon-guarantee:before { content: "\f102"; }
.flaticon-shield:before { content: "\f103"; }
.flaticon-support:before { content: "\f104"; }
    
    $font-Flaticon-bar-chart: "\f100";
    $font-Flaticon-process: "\f101";
    $font-Flaticon-guarantee: "\f102";
    $font-Flaticon-shield: "\f103";
    $font-Flaticon-support: "\f104";