* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.dashboard-area .left-admin{
    width: 300px;
    float: left;
    min-height: 100vh;
    border-right: 1px solid rgba(0,0,0,.0625);
}
.dashboard-area .right-admin{
    width: calc(100% - 300px);
    float: left;
    min-height: 100vh;
}
.dashboard-area .left-admin .logo{
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.0625);
}
.dashboard-area .left-admin .list-nav{
    margin-top: 20px;
}
.dashboard-area .left-admin .list-nav ul li a{
    color: #004444;
    padding: 4px 30px;
    display: block;
}
.dashboard-area .left-admin .list-nav ul.sub{
    padding-left: 15px;
    list-style-type: none;
}
.dashboard-area .right-admin .user-info{
    border-bottom: 1px solid rgba(0,0,0,.0625);
    padding: 13px 0;
    text-align: right;
    padding-right: 35px;
}
.dashboard-area .right-admin .user-info img{
    border-radius: 50%;
}
.dashboard-area .right-admin .main-content{
    padding: 30px;
}
/*** Login form ****/
.login-form {
    width: 450px;
    margin: 80px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.login-form .form-control, .login-form .btn {
    min-height: 38px;
    border-radius: 2px;
}
.login-form btn {
    font-size: 15px;
    font-weight: bold;
}
@media screen and (max-width: 480px) {
    .login-form{
        width: 90%;
    }
}