<h4>Add Blog</h4>

<form action="" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="form-group">
        <label for="">Vi Name</label>
        <input type="text" class="form-control" required name="vi_name" />
    </div>
    <div class="form-group">
        <label for="">En Name</label>
        <input type="text" class="form-control" required name="en_name" />
    </div>
    <div class="form-group">
        <label for="">Vi Content</label>
        <textarea id="" cols="30" rows="10" class="form-control ckeditor" name="vi_content" required></textarea>
    </div>
    <div class="form-group">
        <label for="">EN Content</label>
        <textarea id="" cols="30" rows="10" class="form-control ckeditor" name="en_content" required></textarea>
    </div>
    <div class="form-group">
        <label for="">Image feature</label>
        <input type="file" class="form-control" name="image" required />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Add</button>
    </div>
</form>

<% if(locals.success) { %>
<div class="alert alert-success col-md-7 text-center">
    <strong>Success!</strong> Added new a record.
</div>
<% } %>

<% if(locals.error) { %>
<div class="alert alert-danger col-md-7 text-center">
    <strong>Error!</strong> Please try again.
</div>
<% } %>