<% include ../header %>

<div class="login-form">
    <form action="" method="post" autocomplete="off">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix" style="display: none">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>
    </form>

    <% if(locals.message && locals.message == 'success') { %>
        <div class="alert alert-success text-center">
            <strong>Success!</strong> Logged in successfully. Redirecting......
        </div>
    <% } %>

    <% if(locals.message && locals.message == 'error') { %>
        <div class="alert alert-danger text-center">
            <strong>Error!</strong> Username or Password not valid. Please try again
        </div>
    <% } %>
</div>



<% include ../footer %>