<h4>Add Project</h4>

<form action="" method="post" autocomplete="off" enctype="multipart/form-data">
    <div class="form-group">
        <label for="">Name project</label>
        <input type="text" class="form-control" required name="name" />
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input type="text" class="form-control" name="price" />
    </div>
    <div class="form-group">
        <label for="">Vi Description</label>
        <textarea id="" cols="30" rows="10" class="form-control ckeditor" name="vi_desc"></textarea>
    </div>
    <div class="form-group">
        <label for="">EN Description</label>
        <textarea id="" cols="30" rows="10" class="form-control ckeditor" name="en_desc"></textarea>
    </div>
    <div class="form-group">
        <label for="">Image feature</label>
        <input type="file" class="form-control" name="image" required />
    </div>
    <div class="form-group">
        <label for="">Category</label>
        <select name="cat" id="" required class="form-control">
            <option value="">Please select</option>
            <% JSON.parse(data_cat).forEach(function(item) { %>
                <option value="<%= item.id %>"><%= item.vi_name %></option>
            <% }); %>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Add</button>
    </div>
</form>

<% if(locals.success) { %>
    <div class="alert alert-success col-md-7 text-center">
        <strong>Success!</strong> Added new a record.
    </div>
<% } %>

<% if(locals.error) { %>
    <div class="alert alert-danger col-md-7 text-center">
        <strong>Error!</strong> Please try again.
    </div>
<% } %>