<h4>Add Category Project</h4>

<form action="" method="post" autocomplete="off">
    <div class="form-group">
        <label for="">Vi Name</label>
        <input type="text" class="form-control" required name="vi_name" />
    </div>
    <div class="form-group">
        <label for="">En Name</label>
        <input type="text" class="form-control" required name="en_name" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Add</button>
    </div>
</form>

<% if(locals.error) { %>
    <% if(error == 'no') { %>
        <div class="alert alert-success col-md-7 text-center">
            <strong>Success!</strong> Added new a record.
        </div>
    <% } %>

    <% if(error == 'yes') { %>
        <div class="alert alert-danger col-md-7 text-center">
            <strong>Error!</strong> Value exist or something. Please try again.
        </div>
    <% } %>
<% } %>