body:not(.home-page) .hero-wrap { height: 330px; }
body:not(.home-page) .slider-text { height: 390px; }
body:not(.home-page) .slider-text h1 { font-size: 30px; }
img { max-width: 100%; }
.hero-wrap { overflow: hidden; }
.wrap-project h6 { line-height: 25px; color: #000; font-weight: 400; }
.wrap-project .list-cat ul { list-style-type: none; text-align: center; }
.wrap-project .list-cat ul li { display: inline-block; margin-right: 20px; }
.wrap-project .list-cat ul li a { font-weight: 400; }
.wrap-project .list-cat ul li.active a { border-bottom: 1px solid #24bdc9; }
.wrap-project .list-cat ul li:last-child { margin-right: 0; }
.wrap-project .list-project .ft-project { background-size: cover; width: 100%; height: 500px; }
.wrap-project .list-project .item-project .inner { -moz-box-shadow: 0 0 3px #ccc; -webkit-box-shadow: 0 0 3px #ccc; box-shadow: 0 0 3px #ccc; position: relative; }
.wrap-project .list-project .item-project { margin-bottom: 40px; }
.wrap-project .list-project .item-project .inner .ft-project:before { background-color: rgba(0, 0, 0, 0.4); width: 100%; height: 100%; position: absolute; top: 0; left: 0; content: ''; opacity: 0; transition: all 0.3s; -webkit-transition: all 0.3s; }
.wrap-project .list-project .item-project .inner .ft-project:hover:before { opacity: 1; }
.wrap-project .list-project .item-project span { position: absolute; width: 100%; bottom: 0; background: #24bdc9; text-align: center; color: #fff; padding: 4px 0; display: none; }
.wrap-project .list-project .item-project:hover span { display: block; }
.single-project { color: #000; }
.single-project .project-ft { cursor: pointer; width: 100%; height: 500px; background-size: cover; -moz-box-shadow: 0 0 3px #ccc; -webkit-box-shadow: 0 0 3px #ccc; box-shadow: 0 0 3px #ccc; }
.single-project .category { border-top: 1px dashed #000000; padding-top: 20px; margin-top: 20px; }
.single-project .project-desc { font-weight: 400; font-size: 14px; }
.content-single { color: #555050; }
.content-single h2 { font-size: 20px; color: #000; }
footer .btn { padding: 10px 20px; }
.ftco-footer { padding: 8em 0 4em 0; }
.language-switch ul { list-style-type: none; font-weight: bold; font-size: 15px; margin-top: 11px; padding-left: 25px; }
.language-switch ul li { display: inline-block; }
.language-switch ul li:first-child { margin-right: 15px; }
.language-switch ul li a { color: #fff; }
nav.scrolled .language-switch ul li a { color: #24bdc9; }
.language-switch ul li.active a { color: #000000 !important; }
.slider-text .breadcrumbs span a { text-transform: uppercase; }
.about-person { color: #000000; }
.about-person .name { margin-top: 10px; padding-bottom: 5px; margin-bottom: 0; }
.navbar-toggler { outline: none !important; }
.fw-4 { font-weight: 400; }
.scrolled img { height: 50px }
.project-ft .icon-hover span { font-size: 45px; color: #fff; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.project-ft .icon-hover { height: 100%; background: rgba(0, 0, 0, 0.4); opacity: 0; transition: all 0.3s; -webkit-transition: all 0.3s; }
.project-ft:hover .icon-hover { opacity: 1; }
.ftco-footer img{ filter: brightness(0) invert(1); height: 85px; margin-bottom: 20px; }


@media screen and (max-width:980px) {
    .navbar img{ max-height: 55px; }
    nav.navbar:not(.scrolled) img { filter: brightness(0) invert(1); }
}
@media screen and (max-width:767.98px) {
    body:not(.home-page) .hero-wrap { height: 300px; }
    body:not(.home-page) .slider-text { height: 290px; }
}
