<% include ../header %>
<% include ../hero %>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row text-center mb-5">
            <p><%= locals.trans_text('about_line1') %></p>
        </div>
        <div class="row d-md-flex">
            <div class="col-md-4 ftco-animate img about-image" style="background-image: url(/public/images/about.jpg);">

            </div>
            <div class="col-md-8 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center">
                        <div class="tab-content ftco-animate" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
                                <div>
                                    <h2 class="mb-4"><%= locals.trans_text('mission') %></h2>
                                    <p><%= locals.trans_text('about_line2') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row -->
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/public/images/bg_1.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-4"><%= locals.trans_text('some_facts') %></h2>
                <span class="subheading"><%= locals.trans_text('custom_makert') %></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="50">0</strong>
                                <span><%= locals.trans_text('assigned_projects') %></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="15">0</strong>
                                <span><%= locals.trans_text('clients') %></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="10">0</strong>
                                <span><%= locals.trans_text('countries') %></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="20">0</strong>
                                <span><%= locals.trans_text('categories_project') %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading"><%= locals.trans_text('customer_says') %></span>
                <h2 class="mb-4"><%= locals.trans_text('customer_say') %></h2>
                <p><%= locals.trans_text('custom_satis') %></p>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/public/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                  <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5"><%= locals.trans_text('testi1') %></p>
                                <p class="name">Nguyen Dang Hai</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/public/images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                  <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5"><%= locals.trans_text('testi2') %></p>
                                <p class="name">Alex Grill</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/public/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                  <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5"><%= locals.trans_text('testi3') %></p>
                                <p class="name">Ivan Scopt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../footer %>