<% include ../header %>
<% include ../hero %>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <% data.forEach(function(blog) { %>
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="<% if(locals.lang == 'en') { %>/en<% } %>/blog/<%= blog.id %>.html" class="block-20" style="background-image: url('/uploads/blog/<%= blog.ft_img %>');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><%= blog.created_date %></div>
                                <div>Admin</div>
                            </div>
                            <h3 class="heading"><a href="<% if(locals.lang == 'en') { %>/en<% } %>/blog/<%= blog.id %>.html"><%= locals.lang == 'vi' ? blog.vi_name : blog.en_name %></a></h3>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>

<% include ../footer %>