<% include ../header %>
<% include ../hero %>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="single-blog mt-5 mb-5">
                <div class="content-single">
                    <%- locals.lang == 'vi' ? data[0].vi_content : data[0].en_content %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../footer %>