<% include ../header %>
<% include ../hero %>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4"><%= locals.trans_text('contact_info') %></h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
                <p><span><%= locals.trans_text('address') %>:</span> Da Nang, Viet Nam</p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> <a href="mailto: housedn93@gmail.com"><span>housedn93@gmail.com</span></a></p>
            </div>
            <div class="col-md-3">
                <p><%= locals.trans_text('working') %>: <%= locals.trans_text('monday') %> - <%= locals.trans_text('saturday') %></p>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 pr-md-5">
                <form action="#send" method="POST" autocomplete="off">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="<%= locals.trans_text('your_name') %>" name="name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="<%= locals.trans_text('your_email') %>" name="email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="<%= locals.trans_text('subject') %>" name="subject" required>
                    </div>
                    <div class="form-group" id="send">
                        <textarea name="message" cols="30" rows="7" class="form-control" placeholder="<%= locals.trans_text('message') %>" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="<%= locals.trans_text('send_message') %>" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

                <% if(locals.message == 'success') { %>
                    <div class="alert alert-success mt-2 text-center fw-4">
                        <strong><%= locals.trans_text('success') %>!</strong> <%= locals.trans_text('contact_message') %>
                    </div>
                <% } %>

                <% if(locals.message == 'error') { %>
                    <div class="alert alert-danger mt-2 text-center fw-4">
                        <strong><%= locals.trans_text('error') %>!</strong> <%= locals.trans_text('message_error') %>
                    </div>
                <% } %>
            </div>

            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.081054514551!2d108.2314253141698!3d16.06128314391864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219d4ebe9d031%3A0x76d0a331e0a3e9a6!2zY2jDom4gY-G6p3UgUuG7k25nIDIgVsO1IFbEg24gS2nhu4d0!5e0!3m2!1svi!2s!4v1560912736209!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>


<% include ../footer %>

