<% include ../header %>
<% include ../hero %>

<section class="ftco-section contact-section ftco-degree-bg text-center">
    <h4><%= locals.trans_text('message_404') %></h4>
</section>


<% include ../footer %>

