<% include ../header %>

<div class="hero-wrap">
    <div class="overlay"></div>
    <div class="circle-bg"></div>
    <div class="circle-bg-2"></div>
    <div class="container-fluid">
        <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">

            <div class="one-forth pr-md-4 ftco-animate align-self-md-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Design. <br> Development. <br> Deployment.</h1>
                <p class="mb-md-5 mb-sm-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><%= locals.trans_text('slider_home_text') %></p>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="/project" class="btn btn-primary px-5 py-3"><%= locals.trans_text('view_projects') %></a></p>
            </div>
            <div class="one-half align-self-md-end align-self-sm-center">
                <div class="slider-carousel owl-carousel">
                    <div class="item">
                        <img src="/public/images/dashboard_full_1.png" class="img-fluid img"alt="">
                    </div>
                    <div class="item">
                        <img src="/public/images/dashboard_full_2.png" class="img-fluid img"alt="">
                    </div>
                    <div class="item">
                        <img src="/public/images/dashboard_full_3.png" class="img-fluid img"alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section services-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading"><%= locals.trans_text('services') %></span>
                <h2 class="mb-4"><%= locals.trans_text('why_choose_us') %></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-guarantee"></span></div></div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading"><%= locals.trans_text('trust_sucess') %></h3>
                        <p><%= locals.trans_text('service1') %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-shield"></span></div></div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading"><%= locals.trans_text('safe_secured') %></h3>
                        <p><%= locals.trans_text('service2') %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-support"></span></div></div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading"><%= locals.trans_text('our_support') %></h3>
                        <p><%= locals.trans_text('service3') %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-bar-chart"></span></div></div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading"><%= locals.trans_text('optimize_seo') %></h3>
                        <p><%= locals.trans_text('service4') %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-guarantee"></span></div></div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading"><%= locals.trans_text('compatible_devices') %></h3>
                        <p><%= locals.trans_text('service5') %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-process"></span></div></div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading"><%= locals.trans_text('source_management') %></h3>
                        <p><%= locals.trans_text('service6') %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/public/images/bg_1.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-4"><%= locals.trans_text('some_facts') %></h2>
                <span class="subheading"><%= locals.trans_text('custom_makert') %></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="50">0</strong>
                                <span><%= locals.trans_text('assigned_projects') %></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="15">0</strong>
                                <span><%= locals.trans_text('clients') %></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="10">0</strong>
                                <span><%= locals.trans_text('countries') %></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="20">0</strong>
                                <span><%= locals.trans_text('categories_project') %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading"><%= locals.trans_text('customer_says') %></span>
                <h2 class="mb-4"><%= locals.trans_text('customer_say') %></h2>
                <p><%= locals.trans_text('custom_satis') %></p>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/public/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                  <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5"><%= locals.trans_text('testi1') %></p>
                                <p class="name">Nguyen Dang Hai</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/public/images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                  <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5"><%= locals.trans_text('testi2') %></p>
                                <p class="name">Alex Grill</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/public/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                  <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5"><%= locals.trans_text('testi3') %></p>
                                <p class="name">Ivan Scopt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading"><%= locals.trans_text('progress') %></span>
                <h2 class="mb-4"><%= locals.trans_text('how_works') %></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 ftco-animate">
                <div class="nav ftco-animate nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="receive-requests-tab" data-toggle="pill" href="#receive-requests" role="tab" aria-controls="receive-requests" aria-selected="true"><%= locals.trans_text('receive_requests') %></a>

                    <a class="nav-link" id="development-tab" data-toggle="pill" href="#development" role="tab" aria-controls="development" aria-selected="false"><%= locals.trans_text('development') %></a>

                    <a class="nav-link" id="handover-tab" data-toggle="pill" href="#handover" role="tab" aria-controls="handover" aria-selected="false"><%= locals.trans_text('handover') %></a>

                        <a class="nav-link" id="deployment-tab" data-toggle="pill" href="#deployment" role="tab" aria-controls="deployment" aria-selected="false"><%= locals.trans_text('deployment') %></a>
                </div>
            </div>
            <div class="col-md-12 align-items-center ftco-animate">

                <div class="tab-content ftco-animate" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="receive-requests" role="tabpanel" aria-labelledby="receive-requests-tab">
                        <div class="d-md-flex">
                            <div class="one-forth align-self-center">
                                <img src="/public/images/dashboard_full_1.jpg" class="img-fluid border" alt="">
                            </div>
                            <div class="one-half ml-md-5 align-self-center">
                                <h2 class="mb-4"><%= locals.trans_text('receive_colect') %></h2>
                                <p><%= locals.trans_text('receive_line1') %></p>
                                <p><%= locals.trans_text('receive_line2') %></p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="development" role="tabpanel" aria-labelledby="development-tab">
                        <div class="d-md-flex">
                            <div class="one-forth order-last align-self-center">
                                <img src="/public/images/dashboard_full_2.jpg" class="img-fluid border" alt="">
                            </div>
                            <div class="one-half order-first mr-md-5 align-self-center">
                                <h2 class="mb-4"><%= locals.trans_text('development') %></h2>
                                <p><%= locals.trans_text('development_line1') %></p>
                                <p><%= locals.trans_text('development_line2') %></p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="handover" role="tabpanel" aria-labelledby="handover-tab">
                        <div class="d-md-flex">
                            <div class="one-forth align-self-center">
                                <img src="/public/images/dashboard_full_1.jpg" class="img-fluid border" alt="">
                            </div>
                            <div class="one-half ml-md-5 align-self-center">
                                <h2 class="mb-4"><%= locals.trans_text('handover') %></h2>
                                <p><%= locals.trans_text('handover_text') %></p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="deployment" role="tabpanel" aria-labelledby="deployment-tab">
                        <div class="d-md-flex">
                            <div class="one-forth order-last align-self-center">
                                <img src="/public/images/dashboard_full_1.jpg" class="img-fluid border" alt="">
                            </div>
                            <div class="one-half ml-md-5 align-self-center">
                                <h2 class="mb-4"><%= locals.trans_text('deployment') %></h2>
                                <p><%= locals.trans_text('process_text') %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../footer %>
