<% include ../header %>
<% include ../hero %>

<div class="main-content">
    <div class="container">
        <div class="row single-project mt-5 mb-5">
            <div class="col-md-5">
                <div class="project-ft" style="background-image: url('/uploads/project/<%= data[0].ft_img %>')">
                    <div class="icon-hover">
                        <span class="oi oi-zoom-in"></span>
                    </div>
                    <img src="/uploads/project/<%= data[0].ft_img %>" alt="" style="display: none;" />
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="project-name"><%= data[0].name %></h4>
                <div class="project-desc"><%= locals.lang == 'vi' ? data[0].vi_description : data[0].en_description %></div>
                <p class="category"><%= locals.trans_text('category') %>: <a href="<% if(locals.lang == 'en') { %>/en<% } %>/project/category/<%= data[0].id_cat %>"><%= locals.lang == 'vi' ? data[0].vi_name : data[0].en_name %></a></p>
            </div>
        </div>
    </div>
</div>


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<% include ../footer %>