<% include ../header %>
<% include ../hero %>

<div class="main-content">
    <div class="container">
        <div class="wrap-project mt-5 mb-5">
            <h6 class="text-center mb-3"><%= locals.trans_text('desc_list_project') %></h6>
            <% if(data_project.length > 0) { %>
                <div class="list-cat text-center col-md-12 mb-5 mt-4">
                    <ul>
                            <li <% if(typeof id_project == 'undefined') { %>class="active"<% } %> ><a href="<% if(locals.lang == 'en') { %>/en<% } %>/project"><%= locals.trans_text('all') %></a></li>
                        <% data_cat.forEach(function(cat) { %>
                            <li <% if(locals.id_project && id_project == cat.id) { %>class="active"<% } %> ><a href="<% if(locals.lang == 'en') { %>/en<% } %>/project/category/<%= cat.id %> "><%= locals.lang == 'vi' ? cat.vi_name : cat.en_name %></a></li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>

            <div class="list-project row">
                <% data_project.forEach(function(project) { %>
                    <div class="item-project col-md-4">
                        <div class="inner">
                            <a href="<% if(locals.lang == 'en') { %>/en<% } %>/project/<%= project.id %>.html">
                                <div class="ft-project lazyload" style="background-image: url('/uploads/project/<%= project.ft_img %>')"></div>
                                <span><%= locals.trans_text('view_more') %></span>
                            </a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../footer %>