<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | Vietnam Top Web - <%= locals.trans_text('second_name_site') %></title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/admin/css/style.css">
</head>
<body>