<% include header %>

<div class="dashboard-area">
    <div class="left-admin">
        <div class="logo">
            <a href="/" target="_blank"><h2>LOGO</h2></a>
        </div>
        <div class="list-nav">
            <ul>
                <li><a href="/admin">Dashboard</a></li>
                <li>
                    <a href="#">Project</a>
                    <ul class="sub">
                        <li><a href="/admin/project-category/add">Add Categories</a></li>
                        <li><a href="/admin/project/add">Add Project</a></li>
                    </ul>
                </li>
                <li><a href="/admin/blog/add">Add Blog</a></li>
            </ul>
        </div>
    </div> <!-- End left-admin -->

    <div class="right-admin">
        <div class="user-info">
            <div class="img-avatar">
                <img src="/public/images/person_1.jpg" alt="" width="40px"/>
                <span><%= locals.username %></span>
            </div>
        </div>
        <div class="main-content">
            <%- include('pages/'+slug) %>
        </div>
    </div> <!-- End right-admin -->
</div>

<% include footer %>