
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <img src="/public/images/logo.png" alt="Logo"/>
                    <p><%= locals.trans_text('footer_text') %></p>
                    <p class="mt-4"><a href="<% if(locals.lang == 'en') { %>/en<% } %>/contact" class="btn btn-primary"><%= locals.trans_text('contact_now') %></a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2"><%= locals.trans_text('navigational') %></h2>
                    <ul class="list-unstyled">
                        <li><a href="/<% if(locals.lang == 'en') { %>en<% } %>" class="py-2 d-block"><%= locals.trans_text('home') %></a></li>
                        <li><a href="<% if(locals.lang == 'en') { %>/en<% } %>/about" class="py-2 d-block"><%= locals.trans_text('about_team') %></a></li>
                        <li><a href="<% if(locals.lang == 'en') { %>/en<% } %>/blog" class="py-2 d-block"><%= locals.trans_text('blog') %></a></li>
                        <li><a href="<% if(locals.lang == 'en') { %>/en<% } %>/contact" class="py-2 d-block"><%= locals.trans_text('contact') %></a></li>
                        <li><a href="<% if(locals.lang == 'en') { %>/en<% } %>/project" class="py-2 d-block"><%= locals.trans_text('view_projects') %></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><%= locals.trans_text('contact') %></h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Da Nang, Viet Nam</span></li>
                            <li><a href="skype:vantan939@gmail.com?chat"><span class="icon icon-skype"></span><span class="text"><%= locals.trans_text('chat_now') %></span></a></li>
                            <li><a href="mailto: housedn93@gmail.com"><span class="icon icon-envelope"></span><span class="text"><span>housedn93@gmail.com</span></span></a></li>
                            <li><span class="icon icon-clock-o"></span><span class="text"><%= locals.trans_text('monday') %> &mdash; <%= locals.trans_text('saturday') %></span></li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="https://www.facebook.com/446523382571178" target="_blank"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://twitter.com/vietnam_top_web" target="_blank"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.linkedin.com/in/tan-rain-nguyen-674733113/" target="_blank"><span class="icon-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright &copy; 2019 VnTopWeb - All rights reserved</p>
            </div>
        </div>
    </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

</body>

<!-- Load Facebook SDK for JavaScript -->
<% if(locals.lang == 'vi') {
        var lang_current = 'vi_VN';
    }else { 
        var lang_current = 'en_EN';
    }
%>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/<%= lang_current %>/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="446523382571178"
  theme_color="#ff5ca1">
</div>


<script src="/public/js/jquery.min.js" type="text/javascript"></script>
<script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/public/js/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/public/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="/public/js/jquery.animateNumber.min.js" type="text/javascript"></script>
<% include lib-footer %>
<script src="/public/js/main.js" type="text/javascript"></script>


</html>