<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Vietnam Top Web" />
    <meta property="og:url" content="<%= locals.url_home %><% if(locals.lang == 'en') { %>/en<% } %>/<%= (page_name == 'home') ? '' : page_name %>" />
    <meta property="og:type" content="Website" />
    <meta property="og:title" content="<%= title %> | Vietnam Top Web - <%= locals.trans_text('second_name_site') %>" />
    <meta property="og:description" content="Vietnam Top Web - <%= locals.trans_text('second_name_site') %>" />
    <meta property="og:image" content="<%= locals.url_home %>/public/images/ft_image.png" />
    <title><%= title %> | Vietnam Top Web - <%= locals.trans_text('second_name_site') %></title>
    <meta name="robots" content="index,follow,noodp" />
    <meta name="keywords" itemprop="keywords" content="vietnam, viet nam, topweb, top web, danang, da nang, đà nẵng, thiet ke, thiết kế, thiet ke web da nang, thiết kế website da nang, website, development, website development, website develop, vietnam top web" />
    <meta name="news_keywords" itemprop="keywords" content="vietnam, viet nam, topweb, top web, danang, da nang, đà nẵng, thiet ke, thiết kế, thiet ke web da nang, thiết kế website da nang, website, development, website development, website develop, vietnam top web" />
    <link rel='shortcut icon' type='image/x-icon' href='/public/images/favicon.png' />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/animate.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/css/ionicons.min.css">
    <link rel="stylesheet" href="/public/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/public/fonts/flaticon/font/flaticon.css">
    <% include lib-header %>
    <link rel="stylesheet" href="/public/css/icomoon.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142384306-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142384306-1');
    </script>

</head>

<body <% if(page_name == 'home') { %> class="<%= page_name %>-page" <% } %> >

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/<% if(locals.lang == 'en') { %>en<% } %>">
            <img src="/public/images/logo.png" alt="" height="80" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <% if(page_name == 'home') { %>active<% } %>"><a href="/<% if(locals.lang == 'en') { %>en<% } %>" class="nav-link"><%= locals.trans_text('home') %></a></li>
                <li class="nav-item <% if(page_name == 'about') { %>active<% } %>"><a href="<% if(locals.lang == 'en') { %>/en<% } %>/about" class="nav-link"><%= locals.trans_text('about_team') %></a></li>
                <li class="nav-item <% if(page_name == 'blog') { %>active<% } %>"><a href="<% if(locals.lang == 'en') { %>/en<% } %>/blog" class="nav-link"><%= locals.trans_text('blog') %></a></li>
                <li class="nav-item <% if(page_name == 'contact') { %>active<% } %>"><a href="<% if(locals.lang == 'en') { %>/en<% } %>/contact" class="nav-link"><%= locals.trans_text('contact') %></a></li>
                <li class="nav-item cta"><a href="<% if(locals.lang == 'en') { %>/en<% } %>/project" class="nav-link"><span><%= locals.trans_text('view_projects') %></span></a></li>
                <div class="language-switch">
                    <ul>
                        <li <% if(locals.lang == 'vi') { %>class="active"<% } %> ><a href="/<%= (page_name == 'home') ? '' : page_name %>">VI</a></li>
                        <li <% if(locals.lang == 'en') { %>class="active"<% } %> ><a href="/en/<%= (page_name == 'home') ? '' : page_name %>">EN</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->