<% if(locals.kind_page == 'project-single') { %>
    <script src="/public/lib/photoswipe/photoswipe.min.js"></script>
    <script src="/public/lib/photoswipe/photoswipe-ui-default.min.js"></script>
<% } %>