<% if(locals.kind_page == 'project-single') { %>
    <link rel="stylesheet" href="/public/lib/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/public/lib/photoswipe/default-skin/default-skin.css">
<% } %>